<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my Website</title>
</head>
<body>
<h1>Đây là Website của Phạm Đức Tùng</h1>
<h3 style="display: flex;align-items: center"> <img height="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png">  <a style="margin-left: 15px" href="https://www.facebook.com/profile.php?id=100026976609561">  Click</a></h3>
<h3 style="display: flex;align-items: center"> <img height="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/1024px-Icon_of_Zalo.svg.png"> <img height="100px" src="/images/IMG_2091%203.jpg"></h3>
</body>
</html>